<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<title>Eba</title>
	<link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
	<h1>Eva García Domingo</h1>

	<h2>Introducción a Ciberseguridad: laboratorio</h2>

	<h2 class="error"> Error </h2>
	<p>
		<a class="fcc-btn" id="link-to-gome" href="/">
			Click to return to home</a>
	</p>
</body>
</html>
